body{
   margin: 0; 
   padding: 0;
}

h1{
    text-align: center;
    font-size: 2.5em;
}

.container{
  width: 90%;
  height: auto;
  border: 2px solid green;
  margin: 0 auto;
  display: flex;  
  flex-wrap: wrap;
  font-size: 1.5rem;
  
}

.container p{
    margin: 0.2em;
   text-align: justify;   
}

.palReservada{
    font-style: italic;
    color: blue;
}

.container code{
   width: 35%;
   height: auto;
   margin: 1.5em auto;
   font-size: 1.2rem;
   border: 2px solid brown;
}

.container img{
    width: 25%;
    height: auto;
    margin: 1.5em auto;
    font-size: 1.2rem;
    border: 2px solid brown;    
 }
 

.linea{
    display: block;
    color: black;
    font-style: normal;
    padding-left: 1.5rem;  
}

.tabulador{
    padding-left: 3rem;
}

.tab2{
    padding-left: 6rem;
}

.tab3{
    padding-left: 9rem;
}
