/*
.container{
   display: grid;
   height: 300px;
   background-color: yellow;
   font-size: 2em;
   grid-template-columns: 1fr 1fr 1fr 1fr; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-column-gap:1em;
   grid-row-gap: 0.5em;
}

.item {
  background: pink;  
}

.item:nth-child(even){
   background: cyan; 
}
*/

body{
   display: grid; 
   min-height: 100vh;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 4em 6em 1fr 4em;
   grid-gap:0.3em;
}

aside{
  background: hsl(200, 100%, 60%);
  grid-row: 3;
  grid-column: span 3;
}

footer{
    background: hsl(300, 100%,60%);
    /*grid-row: grid-row-start/grid-row-end
      grid-column:grid-column-star/grid-column-end
    */
    /*grid-row-start: 3;*/
    grid-column:1/span 12;    
  }

 main{
    background: hsl(150, 100%,60%);
    grid-row:3;
    grid-column:span 9;
  }

  header{
    background: hsl(100, 100%,60%);
    grid-column:1/span 12;    
  }

  
  .feature{
    background: hsl(270,100%,70%);
    grid-column: span 4;
  }

  
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  